* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6d;
}

header{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text{
  padding: 20px;
}

main{
  width: 840px;
  margin: 50px auto;
}

.content{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;
}
.content-last{
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;
}